<div>
	<div class="module">
		<div>
			Short URL: <a
				href="{{ 'http://192.168.100.3:8087/shortener-webapp-1.0.0/' + $ctrl.url.shortUrl }}">
				{{ 'http://192.168.100.3:8087/shortener-webapp-1.0.0/' +
				$ctrl.url.shortUrl }}</a>
		</div>
		<div>
			Original URL: <a href="{{ $ctrl.url.longUrl }}"> {{
				$ctrl.url.longUrl }} </a>
		</div>
		<div>Visited: {{ $ctrl.url.visited }}</div>
		<div>
			Tags: <span class="tag" ng-repeat="tag in $ctrl.url.tags"> <a
				href="#/tag/{{tag.description}}">{{tag.description}}</a> <span
				ng-show="$ctrl.ownership" ng-click="$ctrl.removeTag(tag)"> x
			</span>
			</span>
		</div>
		<div ng-show="$ctrl.ownership">
			<input type="text" ng-model="tgDscrptn" />
			<button type="button" ng-click="$ctrl.addTag(tgDscrptn)">Add</button>
			<br />
			<button type="button" ng-click="$ctrl.updateUrl()">Save</button>
		</div>
	</div>
	<feedback-panel></feedback-panel>
</div>