*.project
.settings/
*.classpath
dataaccess/target/
datamodel/target/
services/target/
webapp/target/
webapp/src/main/webapp/resources/app/bower_components/
webapp/src/main/webapp/resources/app/bower_components/angular-animate/.bower.json
webapp/src/main/webapp/resources/scripts/
webapp/src/main/webapp/resources/node_modules/.bin/_mocha
webapp/src/main/webapp/resources/node_modules/
authentication/target/
Пояснительная записка.docx
