<div>

	Paste your URL here: <input type="text" ng-model="$ctrl.longUrl" /><br>
	Enter description for URL: <input type="text" ng-model="$ctrl.description" /><br> 
	Tags: <span	ng-repeat="tag in $ctrl.tags">{{tag.description}} 
	<span ng-click="$ctrl.removeTag(tag)"> X </span></span><br> 
	Add tags: <input type="text" ng-model="tgDscrptn" />
	<button type="button" ng-click="$ctrl.addTag(tgDscrptn)">Add Tag</button><br>
	<button type="button" ng-click="$ctrl.createUrl()">Create URL</button><br>
	
</div>